{% extends "sales/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Создать сделку</h2>
    <form method="post">
        {% csrf_token %}
        
        <!-- Покупатель -->
        <div class="form-group">
            <label>{{ form.customer.label }}</label>
            {{ form.customer }}
        </div>

        <!-- Товары -->
        <div class="form-group">
            <label>Товар:</label>
            {{ form.product }}
        </div>

        <div class="form-group">
            <label>Количество:</label>
            {{ form.quantity }}
        </div>

        <!-- Опции -->
        <div class="form-group">
            <label>{{ form.is_wholesale.label }}</label>
            {{ form.is_wholesale }}
        </div>

        <div class="form-group">
            <label>{{ form.discount.label }}</label>
            {{ form.discount }}
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% endblock %}