{% extends 'sales/base.html' %}
{% block title %}Товары{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Товары</h2>
    
  </div>

  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th class="text-end">Цена (₽)</th>
          <th class="text-center">Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ product.name }}</td>
          <td class="text-end">{{ product.price|floatformat:2 }}</td>
          <td class="text-center">
            <a href="{% url 'sales:product_edit' product.id %}" class="btn btn-primary btn-sm">Изменить</a>
            <a href="{% url 'sales:product_delete' product.id %}" class="btn btn-sm btn-outline-danger">Удалить</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center text-muted">Нет доступных товаров</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
